body{
    /* background-color: rgba(228, 228, 229, 0.201); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #BA8F8D; */
    box-sizing: border-box;
}

/* index styles */
#overlay button{
    background-color: transparent;
    font-size: 20px;
    border: 1px solid white;
    /* margin-left: 100px; */
    margin-top: 30px;
    font-weight: 700;
    margin-left: 20px;
    padding: 30px 40px;
    
}

#overlay button:hover{
    background-color: white;
    color: firebrick;
   
}

#overlay a{
    margin-top: 20px;
    text-decoration: none;
}

#main-index{
    overflow: hidden;
}

/* #main-status{

} */


/* loan portal */
#body {   
   
    background-image: url('../images/hero4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
#main{
    margin-top: 50px;
    background-color: white;
    padding: 50px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.429);
}

.flex {
    display: flex;
    align-items: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gap {
    gap: 20px;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

#form-txt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#Ctest,
#Atest {
    width: 50px;
}

img {
    width: 70%;
}

input {
    height: 20px;
    width: 200px;
    border: 1px solid rgba(128, 128, 128, 0.689);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

select {
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.689);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #C3092A;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

button:hover {
    background-color: #e72f50;
    cursor: pointer;
    color: white;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

h1,
h2,
h3 {
    color: #C3092A;
}

p,
label {
    color: rgb(29, 25, 25);
    margin: 0;
}

.required,
#required-msg,
#invalid-num,
#invalid-email,
#invalid-loan {
    color: red;
    font-size: 12px;
    text-align: center;
    display: none;
}

#required-msg,
#invalid-num,
#invalid-email,
#invalid-loan {
    position: relative;
}

#invalid-num {
    left: 60px;
}

#invalid-email {
    left: 70px;
}

#required-msg {
    left: 90px;
    margin: 10px 0;
}

#invalid-loan {
    left: 100px;
}

/* homepage styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-right: 100px;
    margin-bottom: 30px;

}

#links ul a{
    color: black;
    /*text-decoration: none;
    */padding: 20px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    text-decoration-color: #C3092A;
    -moz-text-decoration-color: #C3092A;
}

#links ul li{
    list-style: none;
    font-size: 16px;
    /* font-weight: 500; */
   
 
}

#links ul a:hover{
color: white;
    background-color:#C3092A;
}


#logo-img{
    width: 130px;
}

#collasped-menu{
    display: none;
}
#notification{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
#notification-icon{
    width: 30px;
}
#notification-num{
    position: absolute;
    background-color: #C3092A;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -15px;
    top: -15px;
}


#message{
    position: absolute;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.13);
    width: 250px;
    top: 30px;
    right: 0;
    display: none;
    background-color: rgba(243, 242, 242, 0.491);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 0 10px;
    font-size: 15px;
    z-index: 1;
    
}

#message:hover{
    cursor: pointer;
}
#dot{
    color: red;
    font-size: 50px;
    margin: 0;
}

#notification-num:hover{
    cursor: pointer;
}

#hero-img{
    height: 100vh;
    background-image: url('../images/Design.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
   display: grid;
   grid-template-columns: 1fr;
}

#herostatus-img{
    height: 100vh;
    background-image: url('../images/hero5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
   
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.215);
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: flex-start;
    align-items: start;
    display: grid;
   grid-template-columns: 1fr;
    
}

#overlay > p{
    color: white;
    font-size: 70px;
    font-weight: 700;
    width: 80%;
    margin-left: 20px;
    margin-top: 40px;
}

#app-letter{
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.13);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: white;
display: none;

}

.email-font{
    font-size: 12px;
}

@media  screen and (max-width: 1000px) {
    #currentdate{
        display: none;
    }
    nav{
        padding: 10px;
    }
}


@media  screen and (max-width: 890px) {
    #links{
        display: none;
    }

    #collasped-menu{
        display: inline;
    }
}


@media screen and (max-width: 600px){ 
    #overlay > p{
        color: white;
        font-size: 40px;
    }
    #form-txt div:nth-of-type(1){
        order: 2;
    }
    
    #form-txt{        
        grid-template-columns: 1fr;
    }

    
    #body{
        background-image: none;
    }
   
}

@media screen and (min-width:570px){
    #body{
        max-width: 500px;
        min-width: 600px;
        margin: auto;
    }
    
}

